.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle4 {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle3 {
    width: 300px;
    height: 300px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle2 {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
}